<%= turbo_frame_tag "config_modal" do %>
  <div class="modal fade" id="configModalModal" tabindex="-1" aria-labelledby="configModalModalLabel" aria-hidden="true" data-controller="config_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="configModalModalLabel">Configurações</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <%= form_with url: desafios_config_salvar_path do |form| %>
            <div class="modal-body">
              <div class="form-check form-switch">
                <%= check_box_tag 'velho', true, switch_velho, class: 'form-check-input', id: 'velho_switch', data: { action: "config_modal#checkbox"} %>
                <%= label_tag 'velho_switch', 'Velho Testamento', class: 'form-check-label' %>
              </div>
              <br>
              <div class="form-check form-switch">
                <%= check_box_tag 'novo', true, switch_novo, class: 'form-check-input', id: 'novo_switch', data: { action: "config_modal#checkbox"} %>
                <%= label_tag 'novo_switch', 'Novo Testamento', class: 'form-check-label' %>
              </div>
            </div>
            <div class="modal-footer">
              <%= submit_tag "Salvar", class: "btn btn-success", data: { action: "config_modal#save_config" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>